---
layout: default
---
<div id="publications" class="col-sm-12">
  {{ content }}

<h3>Books and Lecture notes</h3>
<ol>
  <li>西尾理志, “RGB-Dカメラと機械学習で無線通信品質を見る,” 電子情報通信学会誌,　Vol.102, No.4, pp. 346-352, Apr. 2019.</li>
</ol>

<h4>Workshops and Conferences (no review)</h4>
<p>There are many papers. Please See <a href="https://kyouindb.iimc.kyoto-u.ac.jp/j/tB1oN">京都大学 教育研究活動データベース</a>
or <a href="http://www.ieice.org/ken/search/index.php?search_mode=form&year=39&psort=1&pskey=author%3A%22%E8%A5%BF%E5%B0%BE+%E7%90%86%E5%BF%97%22&ps2=1&layout=&lang=&term=AUTHOR">信学会研究会データベース</a>
</p>

<h3>Patent</h3>
<b>登録特許</b><br>
<ol>
  <li>
    西尾　理志、新保　宏之、特許第6627496号「管理装置、コンピュータに実行させるためのプログラムおよびそのプログラムを記録したコンピュータ読み取り可能な記録媒体 」2015年12月25日出願、2019年12月13日登録
  </li>
  <li>鍋谷　寿久、青木　亜秀、西尾理志、守倉正博、山本高至、特許第6628997号「無線通信装置および無線通信方法 」2015年7月23日出願、2019年12月13日登録</li>
  <li>Toshihisa Nabetani, Tsuguhide Aoki, Takayuki Nishio, Masahiro Morikura, Koji Yamamoto「Wireless
    communication device」Patent No.: US10439788B2, Date of Patent: Oct. 8, 2019.</li>
  <li>村山大輔、中平勝也、守倉正博、西尾理志、 特許第6474136号「通信装置及び無線通信方法」2016年2月23日出願、2019年2月8日登録</li>
  <li>Masahiro Morikura, Koji Yamamoto, Takayuki Nishio, Tomoyuki Sugihara, 「Communication control method and
    communication device for enabling power saving」Patent No.: US 9942844B2, Date of Patent: April 10, 2018
  </li>
  <li>山本高至、西尾理志、守倉正博、杉原智行、 特許第6081539号「通信装置及び無線通信方法」2015年8月12日出願、2017年1月27日登録</li>
</ol>
<b>出願特許</b><br>
<ol>
  <li>宮武 遼、淺井 裕介、西尾 理志、特開2019-208188「通信システム、トラヒック制御装置及びトラヒック制御方法」2018年5月30日出願</li>
  <li>
    槙　優一、合田　卓矢、松川　尚司、犬童　拓也、西尾　理志、特開2019-185609「ユーザと端末との対応付け方法および対応付けシステム、および、端末の接続状態の管理方法および管理システム」2018年4月16日出願
  </li>
  <li>西尾　理志、鈴木　信雄、特開2018-142957、「管理装置、コンピュータに実行させるためのプログラムおよびそのプログラムを記録したコンピュータ読み取り可能な記録媒体」2018年2月14日出願</li>
  <li>槙　優一、合田　卓矢、松川　尚司、犬童　拓也、西尾　理志、特開2019-121985「移動通信システム、制御装置、方法およびプログラム」2018年1月10日出願</li>
  <li>宮武 遼、 淺井 裕介、 中平　勝也、守倉　正博、西尾　理志、江上　晃弘、特開2018-182384「無線基地局制御方法」2017年4月4日出願</li>
  <li>宮武 遼、 淺井 裕介、 中平　勝也、守倉　正博、西尾　理志、岡本　浩尚、特開2018-148297「通信制御方法、通信システム及び通信制御装置」2017年3月2日出願</li>
  <li>守倉　正博、山本　高至、西尾　理志、杉原　智行、特開2016-131312「通信制御方法、及び、通信装置」2015年1月14日出願</li>
</ol>
</div>