---
layout: default
---
<!--
<div id="publications" class="col-sm-12">
  {{ content }}
</div>
-->



<h2 id="Publications">Publications</h2>
<p>
This list is updated almost every month, but Google scholar one is the latest perhaps. <a
  href="https://scholar.google.co.jp/citations?hl=ja&user=hHnMMMkAAAAJ&view_op=list_works&sortby=pubdate">here (Google Schoral)</a>.
国内研究会は<a href="http://www.ieice.org/ken/search/index.php?search_mode=form&year=39&psort=1&pskey=author%3A%22%C0%BE%C8%F8+%CD%FD%BB%D6%22&ps2=1&layout=&lang=&term=AUTHOR">こちらから検索ください（信学会研究会ページ）</a>
</p>

<h4>Highlighted Recent Results</h4>
These are awesome.
<ol>
  <li>T. Nishio, H. Okamoto, K. Nakashima, Y. Koda, K. Yamamoto, M. Morikura, Y. Asai, and R. Miyatake,
    “Proactive Received Power Prediction Using Machine Learning and Depth Images for mmWave Networks,” IEEE
    Journal on Selected Areas in Communications, vol. 37, no. 11, pp. 2413-2427, Nov. 2019.
    <a href="http://doi.org/10.1109/JSAC.2019.2933763">doi: 10.1109/JSAC.2019.2933763</a>. (preprint is
    available from <a href="https://arxiv.org/abs/1803.09698">arXiv:1803.09698</a>)</li>
  <li>T. Nishio, R. Yonetani, "Client Selection for Federated Learning with Heterogeneous Resources in Mobile
    Edge," Proc. IEEE ICC 2019 (preprint is available from <a href="https://arxiv.org/abs/1804.08333">
      arXiv:1804.08333</a>.)</li>
  <li>Jihong Park, Sumudu Samarakoon, Hamid Shiri, Mohamed K. Abdel-Aziz, Takayuki Nishio, Anis Elgabli and
    Mehdi Bennis, “Extreme URLLC: Vision, Challenges, and Key Enablers.” <a
      href="https://arxiv.org/abs/2001.09683">arXiv:2001.09683,</a> 2020.</li>
  <li>Takayuki Nishio, Yusuke Koda, Jihong Park, Mehdi Bennis, and Klaus Doppler, "When Wireless
    Communications Meet Computer Vision in Beyond 5G," <a
      href="https://arxiv.org/abs/2010.06188">arXiv:2010.06188</a> </li>
</ol>
<h4>Journal papers (reviewed)</h4>
3 papers are under review and 3 papers are under preparation for IEEE journals.<br>
<ol>
  <li>Y. Fu, K. Yamamoto, Y. Koda, T. Nishio, M. Morikura, C. Huang, Y. Shirato, and N. Kita, “Stochastic
    Geometry Analysis of Wireless Backhaul Networks with Beamforming in Roadside Environments,” IEICE Trans.
    Commun., vol.E104B, no.1, pp.-, Jan. 2021.(Accepted)</li>
  <li>R. Shinkuma, T. Nishio, Y. Inagaki, and E. Oki "Data assessment and prioritization in mobile networks
    for real-time prediction of spatial information using machine learning,” EURASIP J Wireless Com Network
    2020, 92 (2020). </li>
  <li>K. Nakashima, S. Kamiya, K. Ohtsu, K. Yamamoto, T. Nishio, and M. Morikura, “Deep Reinforcement
    Learning-Based Channel Allocation for Wireless LANs with Graph Convolutional Networks,” IEEE Access, vol.8
    , pp. 31823-31834, 2020.</li>
  <li>W. Deng, S. Kamiya, K. Yamamoto, T. Nishio, and M. Morikura, “Thompson Sampling-Based Channel Selection
    through Density Estimation Aided by Stochastic Geometry,” IEEE Access, vol. 8, pp. 14841-14850, 2020.</li>
  <li>Y. Nakayama, T. Nishio, D. Hisano and K. Maruta, "Small Cells Enabled by Crowdsourced Radio Units
    Mounted on Parked Vehicles for Smart City," in IEEE Access, vol. 8, pp. 17986-17998, 2020. </li>
  <li>Shotaro Kamiya, Koji Yamamoto, Seong-Lyun Kim, Takayuki Nishio, and Masahiro Morikura, "SINR
    Distribution and Scheduling Gain Analysis of Uplink Channel-Adaptive Scheduling," IEEE Transactions on
    Wireless Communications, 2020. (to be published) </li>
  <li>Y. Koda, K. Nakashima, K. Yamamoto, T. Nishio and M. Morikura, 
    "Handover Management for mmWave Networks With Proactive Performance Prediction Using Camera Images and Deep Reinforcement Learning," 
    IEEE Transactions on Cognitive Communications and Networking, vol. 6, no. 2, pp. 802-816, June 2020. </li>
  <li>B. Yin, K. Yamamoto, T. Nishio, M. Morikura and H. Abeysekera, "Learning-based Spatial Reuse for WLANs
    with Early Identification of Interfering Transmitters," IEEE Transactions on Cognitive Communications and
    Networking. doi: 10.1109/TCCN.2019.2956133</li>
  <li>M. Iwata, K. Yamamoto, B. Yin, T. Nishio, M. Morikura, and H. Abeysekera, “Stochastic geometry analysis
    of individual carrier sense threshold adaptation in IEEE 802.11ax WLANs,” IEEE Access, vol. 7, pp.
    161916-161927, Nov. 2019. http://doi.org/10.1109/ACCESS.2019.2951608</li>
  <li>T. Nishio, H. Okamoto, K. Nakashima, Y. Koda, K. Yamamoto, M. Morikura, Y. Asai, and R. Miyatake,
    “Proactive Received Power Prediction Using Machine Learning and Depth Images for mmWave Networks,” IEEE
    Journal on Selected Areas in Communications, vol. 37, no. 11, pp. 2413-2427, Nov. 2019.
    doi: 10.1109/JSAC.2019.2933763. (preprint is available from <a
      href="https://arxiv.org/abs/1803.09698">arXiv:1803.09698</a>)</li>
  <li>A. Taya, T. Nishio, M. Morikura, K. Yamamoto, “Deep-Reinforcement-Learning-Based Distributed Vehicle
    Position Controls for Coverage Expansion in mmWave V2X,” IEICE Trans. Commun.,
    Vol.E102-B,No.10,pp.2054-2065, Oct. 2019.</li>
  <li>K. Yoshikawa K. Yamamoto, T. Nishio, and M. Morikura, “Grid-based exclusive region design for 3D UAV
    networks: A stochastic geometry approach,” IEEE Access, vol.7, pp.103806-103814, July 2019.
    https://ieeexplore.ieee.org/document/8777137/</li>
  <li>A. Taya, T. Nishio, M. Morikura, K. Yamamoto, “Concurrent Transmission Scheduling for Perceptual Data
    Sharing in mmWaveVehicular Networks,” IEICE Trans. Inf. & Syst., Vol.E102-D, No.5, pp.952-962, May 2019.
  </li>
  <li>S. Yamashita, K. Yamamoto, T. Nishio and M. Morikura, "Exclusive Region Design for Spatial Grid-Based
    Spectrum Database: A Stochastic Geometry Approach," IEEE Access, vol. 6, pp. 24443-24451, May 2018. doi:
    10.1109/ACCESS.2018.2832627</li>
  <li>山田仰， 西尾理志， 守倉正博, 山本高至, “周波数共用に向けた教師あり学習による一次利用者排他領域更新方式,”　電子情報通信学会論文誌B, Vol.J101-B,No.5,pp.372-382,May.
    2018.</li>
  <li>江上晃弘, 西尾理志, 守倉正博, 山本高至, “劣モジュラ最適化を用いたミリ波無線LAN基地局のスリープ制御,” 電子情報通信学会論文誌B, Vol.J101-B,No.5,pp.383-395,May.
    2018.</li>
  <li>Yusuke Koda, Koji Yamamoto, Takayuki Nishio, and Masahiro Morikura, “Measurement Method of Temporal
    Attenuation by Human Body in Off-the-Shelf 60 GHz WLAN with HMM-Based Transmission State Estimation,”
    Wireless Communications and Mobile Computing, vol. 2018, Article ID 7846936, 9 pages, 2018.
    doi:10.1155/2018/7846936. </li>
  <li>Y. Oguma, T. Nishio, K. Yamamoto, and M. Morikura, "Joint Deployment of RGB-D Cameras and Base Stations
    for Camera-assisted mmWave Communication System," IEICE Trans. Fundamentals, Vol.E100-A, No.11, pp.-, Nov.
    2017.</li>
  <li>B. Yin, K. Yamamoto, T. Nishio, M. Morikura, and H. Abeysekera, “Mitigating Throughput Starvation in
    Dense WLANs through Potential Game-Based Channel Selection,” IEICE Trans. Fundamentals, Vol.E100-A, No.11,
    pp.-, Nov. 2017.</li>
  <li>K. Funabiki, T. Nishio, M. Morikura, K. Yamamoto, D. Murayama, and K. Nakahira, “ATRAS: Adaptive MAC
    Protocol for Efficient and Fair Coexistence between Radio over Fiber-based and CSMA/CA-based WLANs,”
    EURASIP Journal on Wireless Communications and Networking, Vol.2017, No.1, p. 129, Dec. 2017.</li>
  <li>S. Kamiya, K. Yamamoto, T. Nishio, M. Morikura, T. Sugihara, “Spatial co-channel overlap mitigation
    through channel assignment in dense WLAN: Potential game approach,” IEICE Trans. Commun., vol. E100-B, no.
    7, pp. 1094-1104, July 2017. DOI: 10.1587/transcom.2016SCP0013. <a
      href="http://doi.org/10.1587/transcom.2016SCP0013">paper</a></li>
  <li>T. Nishio, K. Funabiki, M. Morikura, K. Yamamoto, D. Murayama, and T. Sugiyama, "MAC protocol for
    improving throughput and balancing uplink/downlink throughput for wireless local area networks with long
    propagation delays," IEICE Trans. Commun., vol.E100-B, no.5, pp.874-883, May 2017. <a
      href="http://doi.org/10.1587/transcom.2016EBP3074">paper</a></li>
  <li>大戸琢也, 山本高至, 羽田勝之, 西尾理志, 守倉正博, "セルラネットワークにおける双方向全二重とユーザ多重全二重の適応的スケジューリング," 映情学誌, vol.71, no.2,
    pp.J61-J67, Feb. 2017. </li>
  <li>S. Yamashita, K. Yamamoto, T. Nishio, and M. Morikura, "Knowledge-based reestablishment of primary
    exclusive region in database-driven spectrum sharing," IEICE Trans. Commun., vol.E99-B, no.9,
    pp.2019-2027, Sept. 2016.</li>
  <li>S. Kamiya, K. Nagashima, K. Yamamoto, T. Nishio, M. Morikura, and T. Sugihara, "Self-organization of
    coverage of densely deployed WLANs considering outermost APs without generating coverage holes," IEICE
    Trans. Commun., vol.E99-B, no.9, pp.1980-1988, Sept. 2016.
  <li>Y. Oguma, T. Nishio, K. Yamamoto, and M. Morikura, "Proactive handover based on human blockage
    prediction using RGB-D cameras for mmWave communications," IEICE Trans. Commun., vol.E99-B, no.8,
    pp.1734-1744, Aug. 2016.
  <li>S. Yamashita, K. Sakaguchi, Y. Huang, K. Yamamoto, T. Nishio, M. Morikura, and N. Shinohara, “Rate
    Adaptation Based on Exposure Assessment using Rectenna Output for WLAN Station Powered with Microwave
    Power Transmission,” IEICE Trans. Commun., vol. E98-B, no. 9, pp. 1785-1794, Sept. 2015.
  <li>R. Nishioka, T. Nishio, M. Morikura, and K. Yamamoto, “A Camera and LED-based Medium Access Control
    scheme for Wireless LANs,” IEICE Trans. Commun., vol.E98-B, no.5, pp.917-926, May. 2015.
  <li>F. Inoue, T. Nishio, M. Morikura, K. Yamamoto, F. Nuno, and T. Sugiyama, “Hybrid Station Aided
    Coexistence Scheme between Wireless PANs and Wireless LAN,” IEICE Trans. Fundamentals, vol.E98-A, no.2,
    pp.578-588, Feb. 2015.
  <li>N. Imoto, S. Yamashita, T. Ichihara, K. Yamamoto, T. Nishio, M. Morikura, and N. Shinohara,
    “Experimental Investigation of Co-channel and Adjacent Channel Operations of Microwave Power and IEEE
    802.11g Data Transmissions, ” IEICE Trans. Commun., vol. E97-B, no. 9, pp. 1835-1842, Sep. 2014.
  <li>R. Arai, K. Yamamoto, T. Nishio, and M. Morikura, “ Differential Game-Theoretic Analysis on Information
    Availability in Decentralized Demand-Side Energy Management Systems, ” IEICE Trans. Commun., vol. E97-B,
    no. 9, pp. 1817-1825, Sep. 2014.
  <li>S. Yamashita, N. Imoto, T. Ichihara, K. Yamamoto, T. Nishio, M. Morikura, and N. Shinohara, “
    Implementation and Feasibility Study of Co-channel Operation System of Microwave Power Transmissions to
    IEEE 802.11-based Battery-less Sensors, ” IEICE Trans. Commun., vol. E97-B, no. 9, pp. 1843-1852, Sep.
    2014.
  <li>W. Liu, T. Nishio, R. Shinkuma, and T. Takahashi, “Adaptive resource discovery in mobile cloud
    computing,” Computer Communications, vol. 50, no. 0, pp. 119 – 129, Mar. 2014.</li>
  <li>N. Maki, T. Nishio, R. Shinkuma, T. Mori, N. Kamiyama, R. Kawahara and T. Takahashi, “Traffic
    Engineering of Peer-assisted Content Delivery Network with Content-oriented Incentive Mechanism,” IEICE
    Trans. Inf.& Syst., vol.E95-D, no.12, pp.2860-2869, Dec.2012.</li>
  <li>T. Nishio, R. Shinkuma, F.D. Pellegrini, H. Kasai, K. Yamaguchi, and T. Takahashi, “Trigger detection
    using geographical relation graph for social context awareness,” ACM/Springer Mobile Networks and
    Applications, vol. 17, no. 6, pp. 831-840, Dec. 2012.</li>
  <li>T. Nishio, R. Shinkuma, T. Takahashi, and N. Mandayam, “TXOP Exchange: A Mechanism for Cooperation in
    CSMA Networks,” IEICE Trans. Commun., vol.E95-B, no.6, pp.1944-1952, June 2012.</li>
  <li>T. Nishio, R. Shinkuma, T. Takahashi, and G. Hasegawa, “TCP-based Window-size Delegation Method for TXOP
    Exchange in Wireless Local Area Networks,” EURASIP Journal on Wireless Communications and Networking, vol.
    2011:58, pp.1-12, Aug. 2011.</li>
</ol>

<h4>Letter (reviewed)</h4>
<ol>
  <li>Y. Koda, J. Park, M. Bennis, K. Yamamoto, T. Nishio, M. Morikura, and K. Nakashima,
    “Communication-efficient multimodal split learning for mmWave received power prediction,” IEEE
    Communications Letters, <a href="https://ieeexplore.ieee.org/document/9026781">Early Access is available
      which is published on Mar. 2020</a>.</li>
  <li>Shota Yamashita, Koji Yamamoto, Takayuki Nishio, Masahiro Morikura, “Performance analysis of secondary
    networks with multiple primary users for spectrum database system,” IEICE Communications Express, vol.6,
    no.5, pp.225-230, May 2017. <a
      href="https://www.jstage.jst.go.jp/article/comex/6/5/6_2017XBL0018/_article">paper</a></li>
  <li>T. Ohto, K. Yamamoto, S.-L. Kim, T. Nishio, and M. Morikura, “Stochastic geometry analysis of normalized
    SNR-based scheduling in downlink cellular networks,” to be published at IEEE Wireless Commun. Lett., 2017.
    <a href="http://ieeexplore.ieee.org/document/7919261/">paper</a></li>
</ol>

<h4>International conference (reviewed)</h4>
<ol>
  <li>T. Nishio, Y. Inoue, Y. Nakayama, and M. Katsurai, "Joint Computation Offloading and Sampling Interval
    Optimization for Accuracy-Guaranteed Surveillance," Proc. IEEE CCNC, pp.1-6, Jan. 2021.</li>
  <li>S. Kotera, B. Yin, K. Yamamoto, T. Nishio, M. Morikura, and H. Abeysekera, "Latency-Aware Fair
    Scheduling for Spatial Reuse in WLANs: A Lyapunov Optimization Approach," Proc. IEEE CCNC, pp.1-6, Jan.
    2021.</li>
  <li>T. Nishio, R. Shinkuma, and N.B. Mandayam, "Estimation of Individual Device Contributions for
    Incentivizing Federated Learning," Proc. IEEE Globecom 2020 Open Workshop on Machine Learning in
    Communications, pp.1-6, Taipei, Taiwan, Dec.7-11, 2020.</li>
  <li>N. Yoshida, T. Nishio, M. Morikura, and K. Yamamoto, "MAB-based Client Selection for Federated Learning
    with Uncertain Resources in Mobile Networks,” Proc. IEEE Globecom 2020 Open Workshop on Machine Learning
    in Communications, pp.1-6, Taipei, Taiwan, Dec.7-11, 2020.</li>
  <li>S. Itahara, T. Nishio, M. Morikura, and K. Yamamoto, "Online Trainable Wireless Link Quality Prediction
    System using Camera Imagery,” Proc. IEEE Globecom Open Workshop on Machine Learning in Communications,
    pp.1-6, Taipei, Taiwan, Dec.7-11, 2020</li>
  <li>Y. Koda, K. Yamamoto, T. Nishio, and M. Morikura, "Differentially Private AirComp Federated Learning
    with Power Adaptation Harnessing Receiver Noise,” Proc. IEEE Global Communications Conference (Globecom),
    pp.1-6, Taipei, Taiwan, Dec.7-11, 2020.</li>
  <li>Nino, T. Nishio, T. Murase, "IEEE 802.11ad Communication Quality Measurement in In-Vehicle Wireless
    Communication with Real Machines,” Proc. IEEE Annual Ubiquitous Computing, Electronics & Mobile
    Communication Conference (UEMCON), pp. 1-8, Nov. 2020.</li>
  <li>M. Shinzaki, Y. Koda, K. Yamamoto, T. Nishio, M. Morikura, C.-H. Huang, Y. Shirato, and N. Kita, "Deep
    Reinforcement Learning-based Beam Tracking from mmWave Antennas Installed on Overhead Messenger Wires,”
    Proc. IEEE Vehicular Technology Conference (VTC-Fall), Victria, B.C., Canada, Oct. 4-,7 2020.</li>
  <li>S. Itahara, T. Nishio, M. Morikura, and K. Yamamoto, "Lottery Hypothesis based Unsupervised Pre-training
    for Model Compression in Federated Learning," Proc. IEEE VTC2020-Fall, Oct. 2020.</li>
  <li>M. Iwasaki, T. Nishio, M. Morikura, and K. Yamamoto, "Transfer Learning-Based Received Power Prediction
    with Ray-tracing Simulation and Small Amount of Measurement Data," Proc. IEEE VTC2020-Fall, Oct. 2020.
  </li>
  <li>Y. Kihira, Y. Koda, K. Yamamoto, T. Nishio, and M. Morikura, "Adversarial Reinforcement Learning-based
    Robust Access Point Coordination Against Uncoordinated Interference," Proc. IEEE VTC2020-Fall, Oct. 2020.
  </li>
  <li>N. Yoshida, T. Nishio, M. Morikura, K. Yamamoto, R. Yonetani, "Hybrid-FL for Wireless Networks:
    Cooperative Learning Mechanism Using Non-IID Data," Prof. IEEE ICC 2020, Online, June 2020.</li>
  <li>Y. Nakayama, Y. Hara-Azumi, A.H.N. Nguyen, D. Hisano, T. Nishio, and K. Maruta, "Real-Time Routing for
    Wireless Relay Fronthaul with Vehicle-Mounted Radio Units," Proc. IEEE VTC2020-Spring, Online, May 2020.
  </li>
  <li>T. Sakakibara, T. Nishio, A. Taya, M. Morikura, K. Yamamoto, and T. Nabetani, "Communication-Efficient
    Cooperative Contextual Bandit and Its Application to Wi-Fi BSS Selection," Proc. IEEE CCNC, Jan. 2020.
  </li>
  <li>Y. Koda, K. Nakashima, K. Yamamoto, T. Nishio, and M. Morikura, "Cooperative Sensing in Deep RL-Based
    Image-to-Decision Proactive Handover for mmWave Networks," Proc. IEEE CCNC, Ja. 2020.</li>
  <li>W. Deng, S. Kamiya, K. Yamamoto, T. Nishio, M. Morikura, "Thompson Sampling-Based Heterogeneous Network
    Selection Considering Stochastic Geometry Analysis," Proc. IEEE CCNC, Jan. 2020.</li>
  <li>K. Ohtsu, S. Kamiya, K. Yamamoto, T. Nishio, M. Morikura, and N. Kato, "A Sequential WLAN Channel
    Selection Adaptive to Factors Outside the System," Proc. IEEE CCNC, Jan. 2020.</li>
  <li>M. Shinzaki, Y. Koda, K. Yamamoto, T. Nishio, M. Morikura, "Reducing Transmission Delay in EDCA Using
    Policy Gradient Reinforcement Learning," Proc. IEEE CCNC, Jan. 2020.</li>
  <li>Y. Koda, J. Park, M.. Bennis, K. Yamamoto, T. Nishio, and M. Morikura, “One Pixel Image and RF Signal
    Based Split Learning for mmWave Received Power Prediction,” Proc. ACM CoNEXT Poster, Orland, Florida, Dec.
    9-12, 2019.</li>
  <li>Y. Nakayama, D. Hisano, T. Nishio, and K. Maruta, "Experimental Results on Crowdsourced Radio Units
    Mounted on Parked Vehicles," Proc. IEEE VTC2018-Fall, Sept. 2019.</li>
  <li>H. Shimizu, B. Yin, K. Yamamoto, M. Iwata, M. Morikura, T. Nishio, and H. Abeysekera, "Joint Channel
    Selection and Spatial Reuse for Starvation Mitigation in IEEE 802.11ax WLANs," Proc. IEEE VTC2018-Fall,
    Sept. 2019.</li>
  <li>K. Nakashima, S. Kamiya, K. Ohtsu, K. Yamamoto, T. Nishio, and M. Morikura, "Deep Reinforcement
    Learning-Based Channel Allocation for Wireless LANs with Graph Convolutional Networks," Proc. IEEE
    VTC2018-Fall, Sept. 2019.</li>
  <li>R. Shikuma, T. Nishio, "Data Assessment and Prioritization in Mobile Networks for Real-time Prediction
    of Spatial Information with Machine Learning," Proc. IEEE ICDCS Workshops on NMIC, July 2019.</li>
  <li>T. Nishio, R. Yonetani, "Client Selection for Federated Learning with Heterogeneous Resources in Mobile
    Edge," Proc. IEEE ICC 2019, May 2019. (preprint is available from <a
      href="https://arxiv.org/abs/1804.08333"> arXiv:1804.08333</a>.)</li>
  <li>T. Mikuma, T. Nishio, M. Morikura, K. Yamamoto, Y. Asai, and R. Miyatake, "Transfer Learning-Based
    Received Power Prediction Using RGB-D camera in mmWave Networks," Proc. IEEE VTC Spring, May 2019.</li>
  <li>W. Deng, S. Kamiya, K. Yamamoto, T. Nishio, M. Morikura, "Replica Exchange Spatial Adaptive Play for
    Channel Allocation in Cognitive Radio Networks," Proc. IEEE VTC Spring, May 2019.</li>
  <li>M. Iwata, K. Yamamoto, B. Yin, T. Nishio, M. Morikura, and H. Abeysekera, "Analysis of inversely
    proportional carrier sense threshold and transmission power setting based on received power for IEEE
    802.11ax," Proc. the 16th IEEE Annual Consumer Communications & Networking Conference (CCNC 2019), pp., ,
    Jan. 2019.</li>
  <li>G. Yamanaka, T. Nishio, M. Morikura, K. Yamamoto, Y. Maki, S. Eitoku, and T. Indo, "Geo-fencing in
    wireless LANs with camera for location-based access control," Proc. the 16th IEEE Annual Consumer
    Communications & Networking Conference (CCNC 2019), pp., , Jan. 2019. </li>
  <li>K. Yoshikawa, K. Yamamoto, T. Nishio, and M. Morikura, "Grid-based design for the 3D primary exclusive
    region in UAV networks," Proc. the 16th IEEE Annual Consumer Communications & Networking Conference (CCNC
    2019) Workshops, pp., , Jan. 2019. </li>
  <li>R. Kosono, T. Nishio, M. Morikura, K. Yamamoto, Y. Maki, T. Goda, H. Matsukawa, and T. Indo, “Mobile
    User Identification by Camera-Based Motion Capture and Mobile Device Acceleration Sensors,” Proc. ACM
    Mobicom WS on CHANTS, New Dehli, India, pp. 1–6, Oct. 29, 2018.</li>
  <li>A. Taya, T. Nishio, M. Morikura, K. Yamamoto, “Concurrent Data Dissemination at Intersections in mmWave
    for Cooperative Perceptions,” Proc. IEEE Connected and Automated Vehicles Symposium (IEEE CAVS 2018),
    pp.1-6, Chicago, USA, Aug. 27, 2018.</li>
  <li>Y. Fu, K. Yoshikawa, S. Yamashita, K. Yamamoto, T. Nishio, M. Morikura, “Optimal Primary Exclusive
    Region Design for Cognitive Radio VANETs on Multiple Roads,” Proc. IEEE 88th Vehicular Technology
    Conference (VTC2018-Fall), pp.1-6, Chicago, USA, Aug. 27-30, 2018.</li>
  <li>K. Nakashima, Y. Koda, K. Yamamoto, H. Okamoto, T. Nishio, M. Morikura, Y. Asai, R. Miyatake, “Impact of
    Input Data Size on Received Power Prediction Using Depth Images for mmWave Communications,” Proc. IEEE
    88th Vehicular Technology Conference (VTC2018-Fall), pp.1-6, Chicago, USA, Aug. 27-30, 2018.</li>
  <li>A. Taya, T. Nishio, M. Morikura, K. Yamamoto, “Coverage Expansion through Dynamic Relay Vehicle
    Deployment in MmWave V2I Communications,” Proc. IEEE 87th Vehicular Technology Conference
    (VTC2018-Spring), pp.1-6, Porto, Portugal, June 3-6, 2018.</li>
  <li>S. Kamiya, K. Yamamoto, Seong-Lyun Kim, T. Nishio, and M. Morikura, “Asymptotic Analysis of Normalized
    SNR-Based Scheduling in Uplink Cellular Networks with Truncated Channel Inversion Power Control,”
    Proceedings of the 2018 IEEE International Conference on Communications (ICC2018),pp.1-6, Kansas City, MO,
    USA, May 20-24, 2018.</li>
  <li>Bo Yin, K. Yamamoto, Seong-Lyun Kim, T. Nishio, and M. Morikura, “Millimeter-Wave Radio Access Network
    Sharing: A Market-Based Cooperative Bargaining Perspective,” Proceedings of the 2018 IEEE International
    Conference on Communications (ICC2018),pp.1-6, Kansas City, MO, USA, May 20-24, 2018.</li>
  <li>Y. Koda, K. Yamamoto, T. Nishio, M. Morikura, “Reinforcement Learning Based Predictive Handover for
    Pedestrian-Aware mmWave Networks,” Proceedings of the 2018 IEEE Conference on Computer Communications
    Workshops (INFOCOM WKSHPS), pp.1-6, Honolulu, HI, USA, April 16-19, 2018.</li>
  <li>H. Okamoto, T. Nishio, M. Morikura, and K. Yamamoto, "Recurrent neural network-based received signal
    strength estimation using depth images for mmWave communications," IEEE CCNC 2018, Jan. 2018.</li>
  <li>M. Iwata, K. Yamamoto, T. Nishio, and M. Morikura, "Dependent interferer arrangement for physical layer
    security: Secrecy outage probability in clustered wireless networks," Proc. the 28th IEEE International
    Symposium on Personal Indoor and Mobile Radio Communications (PIMRC 2017), pp., Montreal, Canada, Oct.
    2017. </li>
  <li>B. Yin, K. Yamamoto, T. Nishio, M. Morikura, and H. Abeysekera, “Inversely Proportional Transmission
    Power and Carrier Sense Threshold Setting for WLANs: Experimental Evaluation of Partial Settings,” Proc.
    IEEE Vehicular Technology Conference Fall, Toronto, Canada, Sep. 24-27, 2017.</li>
  <li>Y. Koda, K. Yamamoto, T. Nishio, and M. Morikura, “Time Series Measurement of IEEE 802.11ad Signal Power
    Involving Human Blockage with HMM-based State Estimation,” Proc. IEEE Vehicular Technology Conference
    Fall, Toronto, Canada, Sep. 24-27, 2017.</li>
  <li>K. Yoshikawa, S. Yamashita, K. Yamamoto, T. Nishio, and M. Morikura, “Resource Allocation for 3D Drone
    Networks Sharing Spectrum Bands,” Proc. IEEE Vehicular Technology Conference Fall, Toronto, Canada, Sep.
    24-27, 2017.</li>
  <li>A. Egami, T. Nishio, M. Morikura, and K. Yamamoto, “Dynamic Base Station Sleep Control via Submodular
    Optimization for Green mmWave Networks,” in Proc. CROWNCOM, LISBON, Portugal, Sept. 20, 2017, pp. 1-6.
  </li>
  <li>S. Kamiya, K. Yamamoto, T. Nishio, and M. Morikura, “Reassociation Method based on Top Trading Cycles
    for WLANs: Mechanism Design Approach,” Proc. IEEE 18th International Workshop on Signal Processing
    Advances in Wireless Communications (SPAWC), pp.1-5, Hokkaido, Japan, July 3-6, 2017.</li>
  <li>A. Yamada, T. Nishio, M. Morikura, K. Yamamoto, “Machine Learning-based Primary Exclusive Region Update
    for Database-driven Spectrum Sharing,” Proc. IEEE VTC Spring International Workshop on Connecting All
    Things for Enabling Smart Cities (CONTEST), Sydney, Australia, June 2017.</li>
  <li>H. Okamoto, T. Nishio, M. Morikura, K. Yamamoto, D. Murayama, and K. Nakahira, "Machine-Learning-Based
    Throughput Estimation Using Images for mmWave Communications," Proc. IEEE VTC Spring, Sydney, Australia,
    June 2017.</li>
  <li>S. Yamashita, K. Yamamoto, T. Nishio, and M. Morikura, "Stochastic Geometry Analysis of Spatial
    Grid-based Spectrum Database," Proc. IEEE VTC Spring, Sydney, Australia, June 2017. </li>
  <li>S. Yamashita, K. Yamamoto, T. Nishio, and M. Morikura, "Optimization of Primary Exclusion Region in
    Spatial Grid-Based Spectrum Database Using Stochastic Geometry," Proc. IEEE ICC, Paris, France, May 2017.
  </li>
  <li>B. Yin, S. Kamiya, K. Yamamoto, T. Nishio, M. Morikura, and H. Abeysekera, "Starvation mitigation for
    dense WLANs through distributed channel selection: Potential game approach," Proc. the 2017 IEEE 14th
    Consumer Communications and Networking Conference (CCNC), pp.548-553, Las Vegas, NV, USA, Jan. 2017. </li>
  <li>K. Yamamoto, X. Yang, T. Nishio, M. Morikura, and H. Abeysekera, "Analysis of inversely proportional
    carrier sense threshold and transmission power setting," Proc. the 2017 IEEE 14th Consumer Communications
    and Networking Conference (CCNC), pp.13-18, Las Vegas, NV, USA, Jan. 2017. </li>
  <li>Y. Oguma, T. Nishio, K. Yamamoto, and M. Morikura, "Green Deployment of Camera-assisted mmWave Networks
    via Submodular Optimization," Proc. the GLOBECOM 2016 Workshop on Mobile Communications in Higher
    Frequency Bands, pp., Washington, D.C., USA, Dec. 2016. </li>
  <li>T. Nishio, A. Ashok, “High-Speed Mobile Networking Through Hybrid mmWave-Camera Communications,” Proc.
    ACM Mobicom Workshops VLCS 2016, Oct. 3, 2016.</li>
  <li>D. Okuhara, K. Yamamoto, T. Nishio, M. Morikura, and B. A. Hirantha Sithira Abeysekera, “Inversely
    Proportional Transmission Power and Carrier Sense Threshold Setting for WLANs: Experimental Evaluation of
    Partial Settings,” Proceedings of the 2016 Fall IEEE 84th Vehicular Technology Conference, pp.1-5,
    Montreal, Canada, Sep. 18-21, 2016.</li>
  <li>S. Yamashita, K. Yamamoto, T. Nishio, and M. Morikura, “Performance analysis in secondary networks with
    multiple primary users for database-driven spectrum sharing,” Proc. the 13th IEEE Vehicular Technology
    Society Asia Pacific Wireless Communications Symposium (APWCS 2016), Aug. 2016.</li>
  <li>Y. Koda, Y. Oguma, T. Nishio, K. Yamamoto, and M. Morikura, “Statistical prediction of human blockage
    for camera-assisted mmWave communications,” Proc. the 13th IEEE Vehicular Technology Society Asia Pacific
    Wireless Communications Symposium (APWCS 2016), Aug. 2016.</li>
  <li>T. Ohto, K. Yamamoto, K. Haneda, T. Nishio, and M. Morikura, “Capacity and fairness analysis of user
    scheduling in full-duplex cellular networks,” Proc. the 13th IEEE Vehicular Technology Society Asia
    Pacific Wireless Communications Symposium (APWCS 2016), Aug. 2016.</li>
  <li>Y. Oguma, T. Nishio, K. Yamamoto, and M. Morikura, “Performance modeling of camera-assisted proactive
    base station selection for human blockage problem in mmWave communications,” Proc. IEEE Wireless
    Communications and Networking Conference (WCNC), pp. 307-313, Doha, Qatar, April 2016.
  <li>S. Yamashita, K. Yamamoto, T. Nishio, and M. Morikura, "Knowledge-based Update of Primary Exclusive
    Region for Database-driven Spectrum Sharing Towards 5G," Proc. IEEE Wireless Communications and Networking
    Conference (WCNC) 2016 International Workshop on Smart Spectrum (IWSS), pp. 473-476, Doha, Qatar, April
    2016.</li>
  <li>Y. Oguma, R. Arai, T. Nishio, K. Yamamoto, and M. Morikura, “Proactive Base Station Selection Based on
    Human Blockage Prediction Using RGB-D Cameras for mmWave Communications,” Proc. IEEE Globecom 2015, pp.
    1-6, San Diego, CA, USA, Dec. 2015.</li>
  <li>K. Funabiki, T. Nishio, M. Morikura, K. Yamamoto, D. Murayama, T. Yamada, and K. Nakahira, “Throughput
    and Fairness Improvement for WLANs with Long Propagation Delay Coexisting with Conventional WLANs,” Proc.
    IEEE Globecom Workshop ETFWLAN 2015, San Diego, CA, USA, Dec. 2015.</li>
  <li>T. Yamada, T. Nishio, M. Morikura, and K. Yamamoto, “Experimental evaluation of IEEE 802.11ad
    millimeter-wave WLAN devices,” Proc. the 21st Asia-Pacific Conference on Communications (APCC 2015),
    pp.278-282, Kyoto, Japan, Oct. 2015.</li>
  <li>S. Kamiya, K. Nagashima, K. Yamamoto, T. Nishio, M. Morikura, and T. Sugihara, “Performance evaluation
    of overlap mitigation through spatial adaptive play for dense WLANs,” Proc. the 21st Asia-Pacific
    Conference on Communications (APCC 2015), pp.386-390, Kyoto, Japan, Oct. 2015.</li>
  <li>Y. Oguma, T. Nishio, K. Yamamoto, and M. Morikura, “Implementation and evaluation of reactive base
    station selection for human blockage in mmWave communications,” Proc. the 21st Asia-Pacific Conference on
    Communications (APCC 2015), pp.199-203, Kyoto, Japan, Oct. 2015.</li>
  <li>T. Ohto, K. Yamamoto, K. Haneda, T. Nishio, and M. Morikura, “Generalized PF scheduling for
    bidirectional and user-multiplexing unidirectional full-duplex links,” Proc. the 21st Asia-Pacific
    Conference on Communications (APCC 2015), pp.359-363, Kyoto, Japan, Oct. 2015.</li>
  <li>N. Iida, T. Nishio, M. Morikura, K. Yamamoto, T. Nabetani, and T. Aoki, “Frame length optimization for
    in-band full-duplex wireless LANs,” Proc. the 21st Asia-Pacific Conference on Communications (APCC 2015),
    pp.354-358, Kyoto, Japan, Oct. 2015</li>
  <li>K. Nagashima, S. Kamiya, K. Yamamoto, T. Nishio, M. Morikura, and T. Sugihara, “Coverage adaptation
    focusing on coverage boundary in densely deployed WLANs: Potential game approach,” Proc. the 26th IEEE
    International Symposium on Personal Indoor and Mobile Radio Communications (PIMRC 2015), pp.2158-2163,
    Hong Kong, Sept. 2015. </li>
  <li>S. Kamiya, K. Nagashima, K. Yamamoto, T. Nishio, M. Morikura, and T. Sugihara, “Joint range adjustment
    and channel assignment for overlap mitigation in dense WLANs,” Proc. the 26th IEEE International Symposium
    on Personal Indoor and Mobile Radio Communications (PIMRC 2015), pp.2164-2169, Hong Kong, Sept. 2015.
  </li>
  <li>K. Sakaguchi, K. Yamamoto, T. Nishio, and M. Morikura, “Symmetric interaction in channel allocation for
    bi-directional in-band full-duplex network,” Proc. the 26th IEEE International Symposium on Personal
    Indoor and Mobile Radio Communications (PIMRC 2015), pp.1924-1929, Hong Kong, Sept. 2015. </li>
  <li>T. Nishio, R. Arai, K. Yamamoto, and M. Morikura, “Proactive Traffic Control Based on Human Blockage
    Prediction Using RGBD Cameras for Millimeter-wave Communications,” Proc. IEEE Consumer Communications and
    Networking Conference (CCNC), pp. 152-153, Las Vegas, Nevada, USA, Jan. 9-12, 2015.
  <li>T. Nishio, M. Morikura, and K. Yamamoto,“ Heterogeneous Media Communications for Future Wireless Local
    Area Networks,” Proc. IEEE ICCE 2015, Las Vegas, Nevada, USA, Jan. 9-12, 2015.
  <li>T. Nishio, R. Nishioka, M. Morikura, and K. Yamamoto, “ Traffic Separation Using Dual Wi-Fi Interface to
    Enhance WLAN System Throughput, ” Proc. IEEE ICSPCS ’2014, Gold Coast, Australia, Dec. 15-17, 2014.
  <li>R. Hirata, T. Nishio, M. Morikura, K. Yamamoto, and T. Sugihara, “ Cross-Layer Performance Evaluation of
    Random AIFSN Scheme in Densely Deployed WLANs, ” Proc. IEEE ICSPCS ’ 2014, Gold Coast, Australia, Dec.
    15-17, 2014.
  <li>D. Okuhara, F. Shiotani, K. Yamamoto, T. Nishio, M. Morikura, R. Kudo, and K. Ishihara, “ Attenuators
    Enable Inversely Proportional Transmission Power and Carrier Sense Threshold Setting in WLANs, ” Proc.
    PIMRC 2014, pp. 986-990, Washington, DC, USA, Sep. 2-5, 2014.
  <li>Y. Okamoto, M. Morikura, T. Nishio, K. Yamamoto, F. Nuno, and T. Sugiyama, “ Throughput and QoS
    Improvement of Wireless LAN System Employing Radio over Fiber, ” Proc. 31st URSI GASS, Beijing, China,
    Aug. 16-23, 2014.
  <li>T. Nishio, R. Nishioka, M. Morikura, and K. Yamamoto, “VRMAC: A Novel WLAN Medium Access Control
    Mechanism Using LEDs and a Camera,” Proc. Globecom 2013 Workshop on Optical Wireless Communication,
    Atlanta, GA, USA, Dec. 9-13, 2013.
  <li>R. Arai, K. Yamamoto, T. Nishio, and M. Morikura, “Impact of Communication Availability in a Demand-Side
    Energy Management System: Differential Game-Theoretic Approach,” Proc. Globecom 2013 Workshop on
    Management of Emerging Networks and Services, Atlanta, GA, USA, Dec. 9-13, 2013.
  <li>F. Inoue, M. Morikura, T. Nishio, K. Yamamoto, F. Nuno, and T. Sugiyama, “Novel Coexistence Scheme
    between Wireless Sensor Network and Wireless LAN for HEMS,” Proc. IEEE SmartGridComm, Vancouver, Canada,
    Oct. 21-24, 2013.
  <li>R. Nishioka, K. Ogawa, T. Nishio, M. Morikura, and K. Yamamoto, ``Grouping-Based Reliable Multicast
    Protocol for Large-Scale WLANs'', Proc. of APWCS, Aug. 2013.
  <li>T. Nishio, R. Shinkuma, T. Takahashi, and N. B. Mandayam, ``Service-Oriented Heterogeneous Resource
    Sharing for Optimizing Service Latency in Mobile Cloud", Proc. ACM Mobile Cloud'13 in Conjunction with
    MobiHoc 2013, India, July 2013.
  <li> W. Liu, T. Nishio, R. Shinkuma, and T. Takahashi, “System design and numerical analysis of adaptive
    resource discovery in wireless application networks,” Proc. ITU Kaleidoscope conference 2013, Kyoto,
    Japan, 22-24 April 2013. </li>
  <li>N. Maki, T. Nishio, R. Shinkuma, T. Mori, N. Kamiyama, R. Kawahara and T. Takahashi, “Expected Traffic
    Reduction by Content-oriented Incentive in Peer-assisted Content Delivery Networks,” Proc. IEEE ICOIN
    2013, Thailand, Jan. 2013. </li>
  　　<li>T. Nishio, R. Shinkuma, T. Takahashi, and N. Mandayam, “A Heuristic Solution for N-node Bandwidth
    Barter Mechanism,”Proc. IEEE CCNC 2012, Las Vegas, NNevada, USA, Jan. 2012.</li>
  <li>T. Nishio, R. Shinkuma, T. Takahashi, and G. Hasegawa, “TCP Window-size Delegation for TXOP Exchange in
    Wireless Access Networks,” Proc. IEEE ICC 2011, Kyoto, Japan, June 2011.</li>
  <li>T. Nishio, R. Shinkuma, T. Takahashi, and N. Mandayam, “TXOP Exchange: A Cooperation Mechanism for
    Wireless Access Networks,” Proc. IEEE CQR 2011, Naples, Fl., USA, May 2011. </li>
</ol>
<h4>Invited and tutorial talks</h4>
<ol>
  <li>西尾理志, “【依頼チュートリアル】無線通信分野への応用に向けた機械学習の基礎,” 信学総大, March 2020.</li>
  <li>西尾理志, "【招待講演】無線通信制御への応用に向けた深層学習の基礎と実践," IEEE AP-S Kansai Joint Chapter Tutorial, Sept. 2019.</li>
  <li>Koji Yamamoto and Takayuki Nishio, "【Tutorial】Machine Learning and Stochastic Geometry: Statistical
    Frameworks Against Uncertainty in Wireless LANs," IEEE ICC tutorials, May 2019.</li>
  <li>西尾理志　他, "【パネル】2030年代に目指すべき社会を実現するための次世代ワイヤレスシステム," 近畿総合通信局 電波利用促進セミナー, March 2019.</li>
  <li>西尾理志, "【チュートリアル講演】無線ネットワークでの機械学習," 電子情報通信学会 通信方式研究会, April 2019.</li>
  <li>西尾理志, "【招待講演】深層学習による画像系列からのミリ波受信電力予測," 電気関係学会関西連合大会, Dec. 2018.</li>
  <li>西尾理志, "【招待講演】無線通信制御への応用に向けた機械学習の基礎と実践," IEEE AP-S Kansai Joint Chapter Tutorial, Sept. 2018.</li>
  <li>西尾理志, "【チュートリアル講演】深層学習応用チュートリアル," 電子情報通信学会 モバイルネットワークとアプリケーション研究会, Aug. 2018.</li>
  <li>西尾理志, "【招待講演】無線通信制御への機械学習応用," 次世代ワイヤレス技術講座, July 2018.</li>
  <li>西尾理志, "【招待講演】機械学習による無線通信品質予測と通信制御," 電子情報通信学会 スマート無線研究会, May 2018.</li>
  <li>西尾理志, "【招待講演】無線通信制御への機械学習応用," 電子情報通信学会 高信頼制御通信研究会, Jan. 2018.</li>
  <li>西尾理志, "【招待講演】機械学習の基礎と無線通信制御への応用," IEEE AP-S Kansai Joint Chapter Tutorial, Sept. 2017.</li>
  <li>西尾理志, "【特別講演】機械学習の無線通信制御への応用," 電子情報通信学会 コミュニケーションクオリティ(CQ)研究会学生ワークショップ, Aug. 2017.</li>
</ol>
<h4>Books and Lecture notes</h4>
<ol>
  <li>西尾理志, “RGB-Dカメラと機械学習で無線通信品質を見る,” 電子情報通信学会誌,　Vol.102, No.4, pp. 346-352, Apr. 2019.</li>
</ol>

<h4>Workshops and Conferences (no review)</h4>
<p>There are many papers. Please See <a href="https://kyouindb.iimc.kyoto-u.ac.jp/j/tB1oN">京都大学 教育研究活動データベース</a>
or <a href="http://www.ieice.org/ken/search/index.php?search_mode=form&year=39&psort=1&pskey=author%3A%22%E8%A5%BF%E5%B0%BE+%E7%90%86%E5%BF%97%22&ps2=1&layout=&lang=&term=AUTHOR">信学会研究会データベース</a>
</p>

<h4>Patent</h4>
<b>登録特許</b><br>
<ol>
  <li>
    西尾　理志、新保　宏之、特許第6627496号「管理装置、コンピュータに実行させるためのプログラムおよびそのプログラムを記録したコンピュータ読み取り可能な記録媒体 」2015年12月25日出願、2019年12月13日登録
  </li>
  <li>鍋谷　寿久、青木　亜秀、西尾理志、守倉正博、山本高至、特許第6628997号「無線通信装置および無線通信方法 」2015年7月23日出願、2019年12月13日登録</li>
  <li>Toshihisa Nabetani, Tsuguhide Aoki, Takayuki Nishio, Masahiro Morikura, Koji Yamamoto「Wireless
    communication device」Patent No.: US10439788B2, Date of Patent: Oct. 8, 2019.</li>
  <li>村山大輔、中平勝也、守倉正博、西尾理志、 特許第6474136号「通信装置及び無線通信方法」2016年2月23日出願、2019年2月8日登録</li>
  <li>Masahiro Morikura, Koji Yamamoto, Takayuki Nishio, Tomoyuki Sugihara, 「Communication control method and
    communication device for enabling power saving」Patent No.: US 9942844B2, Date of Patent: April 10, 2018
  </li>
  <li>山本高至、西尾理志、守倉正博、杉原智行、 特許第6081539号「通信装置及び無線通信方法」2015年8月12日出願、2017年1月27日登録</li>
</ol>
<b>出願特許</b><br>
<ol>
  <li>宮武 遼、淺井 裕介、西尾 理志、特開2019-208188「通信システム、トラヒック制御装置及びトラヒック制御方法」2018年5月30日出願</li>
  <li>
    槙　優一、合田　卓矢、松川　尚司、犬童　拓也、西尾　理志、特開2019-185609「ユーザと端末との対応付け方法および対応付けシステム、および、端末の接続状態の管理方法および管理システム」2018年4月16日出願
  </li>
  <li>西尾　理志、鈴木　信雄、特開2018-142957、「管理装置、コンピュータに実行させるためのプログラムおよびそのプログラムを記録したコンピュータ読み取り可能な記録媒体」2018年2月14日出願</li>
  <li>槙　優一、合田　卓矢、松川　尚司、犬童　拓也、西尾　理志、特開2019-121985「移動通信システム、制御装置、方法およびプログラム」2018年1月10日出願</li>
  <li>宮武 遼、 淺井 裕介、 中平　勝也、守倉　正博、西尾　理志、江上　晃弘、特開2018-182384「無線基地局制御方法」2017年4月4日出願</li>
  <li>宮武 遼、 淺井 裕介、 中平　勝也、守倉　正博、西尾　理志、岡本　浩尚、特開2018-148297「通信制御方法、通信システム及び通信制御装置」2017年3月2日出願</li>
  <li>守倉　正博、山本　高至、西尾　理志、杉原　智行、特開2016-131312「通信制御方法、及び、通信装置」2015年1月14日出願</li>
</ol>